@model MyHangman.ViewModels.GameStateVM

<main class="content--center">
    <section class="section-status">
        <h1>@Model.Message</h1>
        @if (Model.IsWin)
        {
            <div class="btn-wrapper">
                @Html.ActionLink("Next", "BeginNewLevel", "Home", new { @class = "btn" })
            </div>
        }
        
        @if(Model.IsLoss)
        {
            <img src="~/Images/hangman-step-0.png" alt="Alternate Text" />
            <div class="btn-wrapper">
                @Html.ActionLink("Finish", "LogOut", "Account", null, new { @class = "btn" })
                @Html.ActionLink("Try Again", "BeginNewLevel", "Home", null, new { @class = "btn" })

            </div>
        }
    </section>
</main>