/*-------------------\
     GENERAL STYLES
\-------------------*/

.game-over-img{
    height: 22vw;
}

.spacer-horizontal{
    width: 60%;
}

.spacer-vertical{
    height: 1vw;
}

.error-message {
    color: red;
    font-size: 0.8em;
    height: 2vw;
}

.content--left {
    align-items: flex-start;
}

header p,
header a {
    font-size: 1.6vw;
    margin: 1% 5%;
    color: ghostwhite;
}

.statistics {
    width: 100%;
}

.span-letters {
    letter-spacing: normal;
    padding: 10px;
    margin: 0 -10px;
}

/*-------------------\
     INPUT STYLES
\-------------------*/
.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 2% auto;
    height: 15%;
    font-size: 1.3vw;
}

    .input-wrapper input {
        border: 0.5px solid black;
        border-radius: 5px;
        height: 100%;
    }

        .input-wrapper input:focus {
            box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 0.4);
            outline: none;
        }