.hint-section {
    grid-area: hints;
    align-items: flex-start;
}



.riddle-section {
    grid-area: riddle;
}

.keyboard-section {
    grid-area: keyboard;
}

.image-section {
    grid-area: image;
}

    .image-section img {
        height: 200px;
        width: auto;
    }

.statistics-section {
    grid-area: statistics;
}

.main-grid-area {
    display: grid;
    grid-template-columns: 60% 25%;
    grid-template-rows: auto;
    column-gap: 40px;
    grid-template-areas: "header header" "riddle image" "hints statistics" "keyboard statistics";
    justify-content: center;
}