.hint-section {
    grid-area: hints;
    align-items: flex-start;
    margin: 0;
}



.riddle-section {
    grid-area: riddle;
    margin: 0;
    height: auto;
}

.keyboard-section {
    grid-area: keyboard;
}

.image-section {
    grid-area: image;
}



.statistics-section {
    grid-area: statistics;
    justify-content: start;
}

.main-grid-area {
    display: grid;
    grid-template-columns: 60% 25%;
    grid-template-rows: 3vw 20vw 10vw 15vw;
    column-gap: 2vw;
    grid-template-areas: "header header" "riddle image" "hints image" "keyboard statistics";
    justify-content: center;
}