
<main class="welcome-page">
    <section class="greeting">
        <h1>Welcome to Hangman game</h1>
        <div class="welcome-page-btn-wrapper">
            @Html.ActionLink("Log In", "LogIn", "Account", new { @class = "welcome-page-btn" })
            @Html.ActionLink("Register", "Register", "Account", new { @class = "welcome-page-btn" })
        </div>
    </section>
</main>