<main class="content--center">
    <section class="section-greeting">
        <h1>Welcome to My Hangman game</h1>
        <p>Registration is only for progress save and does not require any real life information</p>
        <div class="btn-wrapper">
            @Html.ActionLink("Log In", "LogIn", "Account", new { @class = "btn" })
            @Html.ActionLink("Register", "Register", "Account", new { @class = "btn" })
            @Html.ActionLink("Leader Board", "LeaderBoard", "Home", null, new { @class = "btn" })
        </div>
    </section>
</main>