<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1" />
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link href="~/Content/CSS/Normalize.css" rel="stylesheet" />
    <link href="~/Content/CSS/Global-styles.css" rel="stylesheet" />
    <link href="~/Content/CSS/All-styles.css" rel="stylesheet" />
    <link href="~/Content/CSS/Game-grid-styles.css" rel="stylesheet" />
    <link href="~/Content/CSS/Button-styles.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>