<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link href="~/Content/CSS/Styles.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>