@model MyHangman.Messages.IMessage

<main class="content--center">
    <section class="section-status">
        <h1>@Model.Message</h1>
        <div class="btn-wrapper">
            @Html.ActionLink("Back", "Welcome", "Account", null, new { @class = "btn" })
        </div>
    </section>
</main>